.image, .video {
    width: 100%;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }
    video {
        width: 100%;
    }
    &__heading {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 10fr 1fr 1fr;
        color: $primary;
        font-weight: 400;
        font-size: 1.2em;
        i {
            text-align: end;
        }
    }
}