.main_header, .photographer_header {
    display: flex;
    width: 70%;

    .banner {
        margin: 0 20px;
        
        @include tablet {
            margin: 35px $small-spacing;
            img {
                width: 170px;           
            } 
        }
        @include mobile {
            margin: $medium-spacing $small-spacing;
            img {
                width: 130px;
            }
        }

    }
    .header-tags {
        margin: auto;
        color: $primary;
        font-weight: 500;
        
        @include desktop {
            flex-wrap: wrap;
            .tag-list {
                flex-wrap: wrap;
            }
        }

        @include laptop {
            .tag-list {
                flex-wrap: wrap;
            }
        }

        @include tablet {
            display: flex;
            position: absolute;
            top: 130px;
            width: 90%;
            left: 2%;
            right: 2%;
            .tag-list {
                flex-wrap: wrap;
            }
        }

    }
}