.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    background-color: white;
    z-index: 1;
    animation: displayLightbox 500ms linear;

    button {
        opacity: 0.8;
        transition: 300ms;
        cursor: pointer;
        margin: 20px;
        width: 40px;
        z-index: 2;
        &:hover {
            transition: 200ms;
            opacity: 1;
        }
    }
    &__close {
        background: url(/svg/Vector.svg) center center / 30px no-repeat;
        height: 50px;
        border: none;
        position: absolute;
        top: 3%;
        right: 18%;
    }
    &__prev {
        background: url(/svg/Vector-next.svg) center center / 30px no-repeat;
        height: 50px;
        border: none;
        transform: rotate(180deg);
        position: absolute;
        left: 18%;
        top: 45%;
    }
    &__next {
        background: url(/svg/Vector-next.svg) center center / 30px no-repeat;
        height: 50px;
        border: none;
        right: 18%;
        position: absolute;
        top: 45%;
    }
    &__container {
        margin: auto;
        padding: 50px 20%;
        display: flex;
        justify-content: center;
        
        img, video {
            margin: auto;
            object-fit: cover;
            width: 1050px;
            height: 800px;
            z-index: 2;
        }
    }
    &__heading {
        position: absolute;
        left: 22.5%;
        bottom: 25px;
        color: $primary;
        font-size: 1.2em;
    }
}

#blocker {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes displayLightbox {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}