.title {
    font-size: 2.5em;
    position: absolute;
    top: 50px;
    right: 9%;
    color: $primary;

    h1 {
        font-weight: 400;
    }

    @include desktop {
        top: 46px;
        right: 5%;
        font-size: 2em;
    }

    @include laptop {
        font-size: 1.7em;
    }
    
    @include tablet {
        font-size: 1.2em;
        font-weight: 400;
        top: 57px;
        right: $regular-spacing;
    }
    
    @include small-mobile {
        font-size: 1em;
    }
}

.catalog {
    margin-top: 50px;
    padding: 50px 0px;
    display: grid;
    justify-content: space-between;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    
    @include tablet {
        margin-top: 100px;
        display: block;
    }
}

