/*Colors*/

$primary:#901C1C;
$secondary: #D3573C;
$grey: #C4C4C4;
$form-color : #DB8876;


/* Media queries - Breakpoints */

$breakpoints: (
  small-mobile: 360px,
  mobile: 480px,
  tablet: 769px,
  small-screen: 1024px,
  laptop: 1224px,
  desktop: 1578px,
);


/* spaces for margin and paddings */

$small-spacing: 10px;
$regular-spacing: 20px;
$medium-spacing: 40px;
$big-spacing: 70px;


/* animation duration */

$fast-duration: 400ms;
$medium-duration: 600ms;
$slow-duration: 800ms;